{% extends "template.html" %}
{% block title%}Graficos{%endblock%}
{% block content %}
<p>no momento a data vai de 01 à 07/01/2020</p>
<p>dados brutos com 1,5mim de diferemça</p>

<div class="container">

    <select name="estufa" id="estufa">
        <option value="1">1 - Não espesificano</option>
        <option value="2">2 - Alface</option>
        <option value="3">3 - Tomate</option>
        <option value="4">4 - Rucula</option>
        <option value="5">5 - Tomilho</option>
    </select>
    <select name="tipo_sensor" id="sensor">
        <option value="termometro" selected>Termometro</option>
        <option value="carbono_ar">co2</option>
        <option value="luximetro">Luximetro</option>
    </select>
    <input type="date" id="date" value="2020-01-01">
    <!-- <input type="submit"> -->

    <button id="btnform">Consultar</button>
</div>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" /> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


<div class="chart" style=" height:40vh; width:80vw; align-content: center;">
    <canvas id="myChart"></canvas>
</div>
{% endblock %}