{% extends "template.html" %}
<div id="chart">

</div>

<script>
    var speedCanvas = document.getElementById("chart");
    var speedData = {
        labels: [
            '', ''
        ],
        datasets: [{
            label: "Car Speed",
            data: [37.09, 32.87, 33.43, 36.45, 35.09, 35.69],
            lineTension: 0,
            fill: false,
            pointBackgroundColor: "rgba(255,150,0,0.5)"
        }]
    };

    var chartOptions = {
        legend: {
            display: true,
            labels: {
                boxWidth: 80,
                fontColor: "black"
            }
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Horário'
                },
                distribution: 'linear',
                type: "time",
                time: {
                    unit: 'hour',
                    unitStepSize: 0.5,
                    round: 'hour',
                    tooltipFormat: "HH",
                    displayFormats: {
                        hour: 'HH:mm'
                    }
                }
            }],
            yAxes: [{
                gridLines: {
                    color: "black",
                    borderDash: [2, 5],
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Valores (média/hora)'
                },
                ticks: {}
            }]
        }

    };

    var lineChart = new Chart(speedCanvas, {
        type: "line",
        data: speedData,
        options: chartOptions
    });
</script>